rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper Functions
    function isSignedIn() { return request.auth != null; }
    // Just a placeholder since we don't have admins setup yet
    // Alternatively, verify email or set it later.
    function isAdmin() { return isSignedIn() && exists(/databases/$(database)/documents/admins/$(request.auth.uid)); }
    
    // Default Deny
    match /{document=**} {
      allow read, write: if false;
    }

    match /settings/{settingId} {
      // Anyone can read config to load the CSV URL
      allow read: if true;
      // Only admins can write config
      // allow write: if isAdmin();
      allow write: if isSignedIn();
    }

    match /admins/{adminId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
